<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <%- include('layout/header'); %>
        <form action="/rtw" method="post">
            <fieldset>
                <br>
                <legend>Browser Technologies</legend>
                <label for="teachers">Docent(en):</label>
                <br>
                <input id="teachers" name="teachers" type="text" value="<%= wafs ? wafs.teachers : '' %>" required>
                <br>
                <br>
                <label for="duration">Periode vak:</label>
                <br>
                <div>
                    <input id="duration" name="start_duration" type="date" value="<%= wafs ? wafs.startDuration : '' %>"
                        required>
                    <input type="date" name="end_duration" value="<%= wafs ? wafs.endDuration : '' %>" required>
                </div>
                <br>
                <label>Beoordeling vak:</label>
                <br>
                <div>
                    <input id="grade1" name="grade" type="radio" value="1" required>
                    <label for="grade1">1</label>
                    <input id="grade1" name="grade" type="radio" value="2" required>
                    <label for="grade1">2</label>
                    <input id="grade1" name="grade" type="radio" value="3" required>
                    <label for="grade1">3</label>
                    <input id="grade1" name="grade" type="radio" value="4" required>
                    <label for="grade1">4</label>
                    <input id="grade1" name="grade" type="radio" value="5" required>
                    <label for="grade1">5</label>
                    <input id="grade1" name="grade" type="radio" value="6" required>
                    <label for="grade1">6</label>
                    <input id="grade1" name="grade" type="radio" value="7" required>
                    <label for="grade1">7</label>
                    <input id="grade1" name="grade" type="radio" value="8" required>
                    <label for="grade1">8</label>
                    <input id="grade1" name="grade" type="radio" value="9" required>
                    <label for="grade1">9</label>
                    <input id="grade1" name="grade" type="radio" value="10" required>
                    <label for="grade1">10</label>
                </div>
                <br>
                <br>
                <label for="difficulty">Hoe moeilijk vond je het?</label>
                <br>
                <textarea id="difficulty" name="difficulty" cols="30" rows="5" required>
                    <%= wafs ? wafs.difficulty : '' %>
                </textarea>
                <br>
                <br>
                <label for="explanation">Hoe was de uitleg?</label>
                <br>
                <textarea id="explanation" name="explanation" cols="30" rows="5" required>
                    <%= wafs ? wafs.explanation : '' %>
                </textarea>
                <br>
                <br>
                <label for="understanding">Hoe goed snap je het?</label>
                <br>
                <textarea id="understanding" name="understanding" cols="30" rows="5" required>
                    <%= wafs ? wafs.explanation : '' %>
                </textarea>
                <br>
                <br>
            </fieldset>
            <div>
                <a href="/pwa">Vorige</a>
                <p>4/6</p>
                <input type="submit" value="Volgende">
            </div>
        </form>
</body>

</html>