<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/head'); %>
</head>

<body>
    <%- include('layout/header'); %>
        <form action="/pwa" method="post">
            <fieldset>
                <br>
                <legend>CSS to the Rescue</legend>
                <label for="teachers">Docent(en):</label>
                <br>
                <input id="teachers" name="teachers" type="text" value="<%= css ? css.teachers : '' %>" required>
                <br>
                <br>
                <label for="duration">Periode vak:</label>
                <br>
                <div>
                    <input id="duration" name="start_duration" type="date" value="<%= css ? css.startDuration : '' %>"
                        required>
                    <input type="date" name="end_duration" value="<%= css ? css.endDuration : '' %>" required>
                </div>
                <br>
                <label>Beoordeling vak:</label>
                <br>
                <div>
                    <% if(css && css.grade === 'grade1') { %>
                        <input id="grade1" name="grade" type="radio" value="1" checked>
                    <% } else { %>
                        <input id="grade1" name="grade" type="radio" value="1" required>
                    <% } %>
                    <label for="grade1">1</label>

                    <% if(css && css.grade === 'grade2') { %>
                        <input id="grade2" name="grade" type="radio" value="2" checked>
                    <% } else { %>
                        <input id="grade2" name="grade" type="radio" value="2">
                    <% } %>
                    <label for="grade2">2</label>

                    <% if(css && css.grade === 'grade3') { %>
                        <input id="grade3" name="grade" type="radio" value="3" checked> 
                    <% } else { %>
                        <input id="grade3" name="grade" type="radio" value="3">
                    <% } %>
                    <label for="grade3">3</label>

                    <% if(css && css.grade === 'grade4') { %>
                        <input id="grade4" name="grade" type="radio" value="4" checked>
                    <% } else { %>
                        <input id="grade4" name="grade" type="radio" value="4">
                    <% } %>
                    <label for="grade4">4</label>

                    <% if(css && css.grade === 'grade5') { %>
                        <input id="grade5" name="grade" type="radio" value="5" checked>
                    <% } else { %>
                        <input id="grade5" name="grade" type="radio" value="5">
                    <% } %>
                    <label for="grade5">5</label>

                    <% if(css && css.grade === 'grade6') { %>
                        <input id="grade6" name="grade" type="radio" value="6" checked>
                    <% } else { %>
                        <input id="grade6" name="grade" type="radio" value="6">
                    <% } %>
                    <label for="grade6">6</label>

                    <% if(css && css.grade === 'grade7') { %>
                        <input id="grade7" name="grade" type="radio" value="7" checked>
                    <% } else { %>
                        <input id="grade7" name="grade" type="radio" value="7">
                    <% } %>
                    <label for="grade7">7</label>

                    <% if(css && css.grade === 'grade8') { %>
                        <input id="grade8" name="grade" type="radio" value="8" checked>
                    <% } else { %>
                        <input id="grade8" name="grade" type="radio" value="8">
                    <% } %>
                    <label for="grade8">8</label>

                    <% if(css && css.grade === 'grade9') { %>
                        <input id="grade9" name="grade" type="radio" value="9" checked>
                    <% } else { %>
                        <input id="grade9" name="grade" type="radio" value="9">
                    <% } %>
                    <label for="grade9">9</label>

                    <% if(css && css.grade === 'grade10') { %>
                        <input id="grade10" name="grade" type="radio" value="10" checked>
                    <% } else { %>
                        <input id="grade10" name="grade" type="radio" value="10">
                    <% } %>
                    <label for="grade10">10</label>
                </div>
                <br>
                <br>
                <label for="difficulty">Hoe moeilijk vond je het?</label>
                <br>
                <textarea id="difficulty" name="difficulty" cols="30" rows="5"
                    required><%= css ? css.difficulty : '' %></textarea>
                <br>
                <br>
                <label for="explanation">Hoe was de uitleg?</label>
                <br>
                <textarea id="explanation" name="explanation" cols="30" rows="5"
                    required><%= css ? css.explanation : '' %></textarea>
                <br>
                <br>
                <label for="understanding">Hoe goed snap je het?</label>
                <br>
                <textarea id="understanding" name="understanding" cols="30" rows="5"
                    required><%= css ? css.explanation : '' %></textarea>
                <br>
                <br>
            </fieldset>
            <div>
                <a href="/wafs">Vorige</a>
                <p>2/6</p>
                <input type="submit" value="Volgende">
            </div>
        </form>
</body>

</html>